body{
    background-color: #F5F5F5;
}
#breadcrumb-cadastro{
    background-color: #00abe6;
}
.light-font .breadcrumb-item + .breadcrumb-item::before {
    color: #fff; 
}
.light-font .breadcrumb-item.active {
    color: #cfd8dc; 
}

#card-cadastro{
    width: 60%;
    margin: auto;
}

#card-corpo{
    width: 100%;
    margin: auto;
}

#button-cadastro-user{
    width: 100%;
    height: 50px;
}
#button-cadastro-user button{
    margin: auto;
    float: right;
}